.country-card-container {
	display: flex;
	.country-card {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		transition:
			transform 0.3s ease,
			box-shadow 0.3s ease;
		&:hover {
			transform: translateY(-5px);
			box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px;
		}
	}
	.flag-img {
		border: 2px solid #000;
		transition: border-color 0.3s ease;
		&:hover {
			border-color: #0d6efd;
		}
	}
}
