.carousel-container {
	background-color: black;
	.carousel-item img {
		height: 400px;
		object-fit: cover;
	}
	.carousel-indicators {
		bottom: 10px;

		button {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.5);
			border: none;
			margin: 0 5px;

			&.active {
				background-color: white;
			}
		}
	}

	.carousel-control-next,
	.carousel-control-prev {
		top: auto;
		bottom: 0;
		margin-bottom: 1.2rem;
		z-index: 999;
	}
	.carousel-control-prev {
		margin-left: 30%;
	}

	.carousel-control-next {
		margin-right: 30%;
	}
}
